/*
Butter2 -> #edd400
Orange2 -> #f57900
Chamel2 -> #73d216
SkyBlu2 -> #3465a4

Alum1   -> #eeeeec
Alum3   -> #babdb6
Alum5   -> #555753
Alum6   -> #2e3436

*/

body {
  background-image: url(backg.jpg);
  background-repeat: repeat-x;
  margin: 8px;
  color: #2e3436;
  background-color: #555753;
}

body, th, td {
  font-family: Verdana,sans-serif;
  font-size: 9pt;
}

body.plain {
  background-image: none;
  background-color: white;
}

h1 {
  font-size: 1.4em;
}

#jQueryStatement {
  color: maroon;
}

fieldset {
  margin-bottom: 12px;
  border-color: #2e3436;
  background-color: #edd400;
}

fieldset div {
  margin-bottom: 6px;
  font-weight: normal;
}

legend {
  border: 2px ridge #2e3436;
  font-weight: bold;
  background-color: #3465a4;
  color: white;
  padding: 2px 16px;
}

button {
  background-color: #2a523c;
  padding: 2px 16px;
  color: #cfeace;
  font-weight:bold;
}

a,#exampleIndex li {
  color: #2a523c;
}

a:hover,#exampleIndex li:hover {
  color: #ff0088;
}

#exampleIndex ul {
  list-style: none;
  margin: 8px;
  padding: 0;
}

#exampleIndex li {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.chapterBlock {
  background-color: #ddeadc;
  border: 3px double #00457b;
  margin: 6px 8px;
  padding: 6px;
}
